[Unit]
Description=ClusterStat Dashboard
[Service]
ExecStart=/usr/bin/bash -c /etc/systemd/system/startup.sh
Type=simple
[Install]
WantedBy=default.target
